.share-active{
    background-color: $color2;
    transition: all 1s;

    @media screen and (min-width : 1024px){
        background: none;
    }
}

.share-content-active{
    visibility: visible;

    @media screen and (min-width : 1024px){
        background-color: $color2;
        border-radius: 10px;
        padding: 0 1.5em;
        position: relative;
        bottom: 50px;
        left: 150px;
    }
}

.share-main-icon-active{
    color: white;
    background-color: $color1;

    @media screen and (min-width : 1024px){
        position: relative;
        top: 10px;
    }
}

