.user{
    display: flex;
    align-items: center;

    &__img{
        border: none;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        background-image: url(/images/avatar-michelle.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__data{
        color: $color2;
        margin-right: auto;
        margin-left: 1.5em;
    }

    &__date{
        color: $color-fondo;
        margin-top: .3em;
    }
}