.main-text{
    margin-bottom: 1em;

    &__title{
        font-weight: 300;
        font-size: 1.3em;
        color: $color-Gray;

        &-bold{
            font-weight: 700;
            color: $color-DarkBlue;
        }
    }

    &__paragraph{
        font-size: .7em;
        color: $color-DarkBlue;
    }
}

@media screen and (min-width:1024px){
    .main-text{
        &__title{
            font-size: 2em;
        }
        &__paragraph{
            font-size: 1em;
        }
    }
}