.FAQ__item{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;

    @media screen and (min-width:1024px) {
        font-size: 13px;
        width: 70%;
    }

    &-req{
        cursor: pointer;

        color: $color-text-req;

        display: flex;
        align-items: center;

        &-tittle,&-img{
            display: inline-block;
            font-size: 13px;
        }

        &-tittle{
            color: $color-text-req;
            font-weight: 400;
            &:hover{
                color: $color-text-hover;
            }
        }

        &-img{
            margin-left: auto;
            width: 15px;
            max-height: 100%;
        }
    }

    &-res{
        color: $color-text-res;
        display: none;
    }
    
}