@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  font-weight: normal;
  src: url("./assets/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter;
  font-weight: bold;
  src: url("./assets/fonts/Inter/Inter-Bold.ttf");
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-lightBg dark:bg-darkBg;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;

  @apply bg-lightBgTop dark:bg-darkBgTop;
  @apply rounded-bl-lg rounded-br-lg;
  width: 100%;
  height: 25%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
